@media screen and (max-width:1000px) {
    div#responsive-menu{
        display:block;
    }
}

.header-user-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
#responsive-menu{
    display: none;
}
nav.bg-light {
    background-color: #0b63ce !important;
}

li.nav-item, a.nav-link {
    color: #ffffff !important;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#icon-liferay-header-use {
    width: 96px;
    height: 24px;
}

a.nav-link-form {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #ffffff;
}

a.nav-link.active {
    background-color: #00bfa5;
   }
