@media screen and (max-width:1030px) {
    #select-order-solicitation {
        margin: 15px 0;
    }
    #btn-solicitation-donate {
       margin: 15px 0;
    }
    #btn-solicitation-activite {
      margin:15px 0;
    }
    #btn-solicitation-all {
        margin: 15px 0;
    }
}

#search-institution {
    color: #0b63ce;
}

::placeholder {
    color: #0b63ce;
}

:-ms-input-placeholder {
    color: #0b63ce;
}

::-ms-input-placeholder {
    color: #0b63ce;
}

select#select-order-solicitation {
    color: #0b63ce;
}

#text-info-custom {
    color: #0b63ce;
}

#select-order-solicitation {
    width: 160px;
    margin-left:10px;
    margin-right:10px;
    border-radius: 36px;
    display: inline;
}

#btn-solicitation-donate {
    border: none;
    border-radius: 36px;
    margin-left: 10px;
    background-color: #00bfa5;
}

#btn-solicitation-donate:hover {
    background-color: #017b6b !important;
}

#btn-solicitation-activite {
    border: none;
    border-radius: 36px;
    margin-left: 10px;
    background-color: #00bfa5;
}

#btn-solicitation-activite:hover {
    background-color: #017b6b !important;
}

#btn-solicitation-all {
    border: none;
    border-radius: 36px;
    margin-left: 10px;
    background-color: #00bfa5;
}

#btn-solicitation-all:hover {
    background-color: #017b6b !important;
}
